@section Scripts {
	<script src="~/js/serviceapidepartamentos.js"></script>
	<script>
		$(document).ready(function(){
			loadDepartamentos();

			$("#botoninsert").click(function(){
				let id = $("#cajaid").val();
				let nombre = $("#cajanombre").val();
				let loc = $("#cajalocalidad").val();

				insertDptoAsync(id, nombre, loc, function(){ //el function para capturar la respuesta
					loadDepartamentos();
				});
				
				
			});

			$("#botonupdate").click(function(){
				let id = parseInt($("#cajaid").val());
				let nombre = $("#cajanombre").val();
				let loc = $("#cajalocalidad").val();

				updateDptoAsync(id, nombre, loc, function(){
					loadDepartamentos();
				})
			});

			$("#botondelete").click(function(){
				let id = $("#cajaid").val();
				deleteDptoAsync(id, function(){
					loadDepartamentos();
				})
			});
		});

		function loadDepartamentos(){
			getDepartamentosAsync(function(data){
				var html = "";
				$.each(data, function(index, dept){
					html += "<tr>";
						html += "<td>" + dept.idDepartamento + "</td>";
						html += "<td>" + dept.nombre + "</td>";
						html += "<td>" + dept.localidad + "</td>";
					html += "</tr>";
				});
				$("#bodytable").html(html);
			})
			// var data = getDepartamentos();
			// var html = "";
			// $.each(data, function(index, dept){
			// 	html += "<tr>";
			// 		html += "<td>" + dept.idDepartamento + "</td>";
			// 		html += "<td>" + dept.nombre + "</td>";
			// 		html += "<td>" + dept.localidad + "</td>";
			// 	html += "</tr>";
			// });
			// $("#bodytable").html(html);
		};
	</script>
}

<h1>Cliente Api Crud Departamentos</h1>

<form>
	<label>Id Departamento</label>
	<input type="text" id="cajaid" class="form-control" />
	<label>Nombre</label>
	<input type="text" id="cajanombre" class="form-control" />
	<label>Localidad</label>
	<input type="text" id="cajalocalidad" class="form-control" />
	<button type="button" class="btn btn-warning" id="botoninsert">Insertar</button>
	<button type="button" class="btn btn-info" id="botonupdate">Update</button>
	<button type="button" class="btn btn-danger" id="botondelete">Delete</button>
</form>

<table class="table table-hover" id="tabla">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Localidad</th>
		</tr>
	</thead>
	<tbody id="bodytable"></tbody>
</table>